body{
    margin: 0;
}

.clientDashContainer {
  margin: 0;  
}

.landing-page{
    background-image: url('/public/assets/snyp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: scroll;
    background-position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 0;
}

.left-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: mediumspringgreen;
    opacity: 0.7;
}

.right-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: black;
    font-size: 50px;
    z-index: 10;
    font-family: "Brandon Grotesque";
}

.left-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: mediumspringgreen;
    font-size: 50px;
    z-index: 100;
    font-family: "Brandon Grotesque";
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
    color: mediumspringgreen;
    font-size: 25px;
    font-family: "Brandon Grotesque";
    z-index: 11;
    border-bottom: 2px solid mediumspringgreen;
}

.snypee-but{
    background-color: mediumspringgreen;
    color: white;
    position: absolute;
    bottom: 30%;
    left: 15%;
    height: 70px;
    width: 200px;
    box-shadow: 10px 10px white;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snypee-but:hover{
    box-shadow: 0px 0px;
    color:mediumspringgreen;
    background-color: white;
}

.snyppr-but:hover{
    box-shadow: 0px 0px;
    color:black;
    background-color: white;
}

.snyppr-but{
    background-color: black;
    color: white;
    box-shadow: 10px 10px white;
    position: absolute;
    bottom: 30%;
    right: 15%;
    height: 70px;
    width: 200px;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snyp-menu {
    height: 60px;
    background-color: black;
}

.snyp-footer {
    height: 30px;
    background-color: black;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.login{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Brandon Grotesque";
    width: 100px;
    height: 50px;
    border-radius: 3px;
    z-index: 15;
    font-size: 15px;
    transition: 1s;
}

.login:hover{
    color: white;
    border: 1px solid white;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url('./assets/Brandon_bld.otf');
}

@font-face {
    font-family: "Operator Mono";
    src: url('./assets/OperatorMono-Medium.otf');
}

.dash-contain{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
    border: 2px solid lavender;
}

.dash-menu{
    position: absolute;
    width: 20%;
    left:0;
}

.dash-menu-items{
    text-align: center;
}

.padding{
    padding-bottom: 15%;
}

.welcome{
    text-align: center;
}

.profpic{
    margin-bottom: 6%;
}

.googlemap{
    width: 700px;
    height: 200px;
}

.modalname{
    font-family: "Brandon Grotesque";
    font-size: 18px;
    text-align: center;
    color: black;
}

.bodyContent{
    text-align: center;
    color: mediumspringgreen;
    font-size: 14px;
}

modalimg{
    margin-left: 10%;
}

.imagehold{
    padding-left: 30%
}

.content{
    border-radius: 8px;
}
.chat-svg {
    width: 70px;
    height: 70px;
}
.entryholder{
    overflow: auto;
    height: 200px;
    border: 2px solid black;
    width: 95%;
}

.snypprentry{
    width: 100%;
    border-radius: 5px;
    height: 100px;
    border-bottom: 2px lightgray solid;
    color: black;
    font-family: "Brandon Grotesque";
    text-align: center;
    background-color: aliceblue;
}

.entryname{
    margin-bottom: 1%;
}