body{
    margin: 0;
}

.landing-page{
    background-image: url('/public/assets/snyp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: scroll;
    background-position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 0;
}

.left-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: mediumspringgreen;
    opacity: 0.7;
}

.right-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: black;
    font-size: 50px;
    z-index: 10;
    font-family: "Brandon Grotesque";
}

.left-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: mediumspringgreen;
    font-size: 50px;
    z-index: 100;
    font-family: "Brandon Grotesque";
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
    color: mediumspringgreen;
    font-size: 25px;
    font-family: "Brandon Grotesque";
    z-index: 11;
    border-bottom: 2px solid mediumspringgreen;
}

.snypee-but{
    background-color: mediumspringgreen;
    color: white;
    position: absolute;
    bottom: 30%;
    left: 15%;
    height: 70px;
    width: 200px;
    box-shadow: 10px 10px white;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snypee-but:hover{
    box-shadow: 0px 0px;
    color:mediumspringgreen;
    background-color: white;
}

.snyppr-but:hover{
    box-shadow: 0px 0px;
    color:black;
    background-color: white;
}

.snyppr-but{
    background-color: black;
    color: white;
    box-shadow: 10px 10px white;
    position: absolute;
    bottom: 30%;
    right: 15%;
    height: 70px;
    width: 200px;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snyppr-list {
  width: 250px;
  margin-left: 30px;
  border: 1px solid black;

}

.login{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Brandon Grotesque";
    width: 100px;
    height: 50px;
    border-radius: 3px;
    z-index: 15;
    font-size: 15px;
    transition: 1s;
}

.login:hover{
    color: white;
    border: 1px solid white;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url('./assets/Brandon_bld.otf');
}

@font-face {
    font-family: "Operator Mono";
    src: url('./assets/OperatorMono-Medium.otf');
}