body{
    margin: 0;
}

.clientDashContainer {
  margin: 0;  
}

.landing-page{
    background-image: url('/public/assets/snyp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: scroll;
    background-position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 0;
}

.left-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: mediumspringgreen;
    opacity: 0.7;
}

.right-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: black;
    font-size: 50px;
    z-index: 10;
    font-family: "Brandon Grotesque";
}

.left-text{
    position: absolute;
    top: 40%;
    right: 20%;
    color: mediumspringgreen;
    font-size: 50px;
    z-index: 100;
    font-family: "Brandon Grotesque";
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
    color: mediumspringgreen;
    font-size: 25px;
    font-family: "Brandon Grotesque";
    z-index: 11;
    border-bottom: 2px solid mediumspringgreen;
}

.snypee-but{
    background-color: mediumspringgreen;
    color: white;
    position: absolute;
    bottom: 30%;
    left: 15%;
    height: 70px;
    width: 200px;
    box-shadow: 10px 10px white;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snypee-but:hover{
    box-shadow: 0px 0px;
    color:mediumspringgreen;
    background-color: white;
}

.snyppr-but:hover{
    box-shadow: 0px 0px;
    color:black;
    background-color: white;
}

.snyppr-but{
    background-color: black;
    color: white;
    box-shadow: 10px 10px white;
    position: absolute;
    bottom: 30%;
    right: 15%;
    height: 70px;
    width: 200px;
    z-index: 15;
    border-radius: 3px;
    border-style: none;
    font-size: 24px;
    font-family: "Brandon Grotesque";
    transition: 1s;
}

.snyp-menu {
    height: 60px;
    background-color: black;
}

.snyp-footer {
    height: 30px;
    background-color: black;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.login{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Brandon Grotesque";
    width: 100px;
    height: 50px;
    border-radius: 3px;
    z-index: 15;
    font-size: 15px;
    transition: 1s;
}

.login:hover{
    color: white;
    border: 1px solid white;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url('./assets/Brandon_bld.otf');
}

@font-face {
    font-family: "Operator Mono";
    src: url('./assets/OperatorMono-Medium.otf');
}

.dash-contain{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
    border: 2px solid lavender;
}

.dash-menu{
    position: absolute;
    width: 20%;
    left:0;
}

.dash-menu-items{
    text-align: center;
}

.padding{
    padding-bottom: 15%;
}

.welcome{
    text-align: center;
}

.profpic{
    margin-bottom: 6%;
}

.modalname{
    font-family: "Brandon Grotesque";
    font-size: 18px;
    text-align: center;
    color: black;
}

.bodyContent{
    text-align: center;
    color: mediumspringgreen;
    font-size: 14px;
}

modalimg{
    margin-left: 10%;
}

.imagehold{
    padding-left: 30%
}

.content{
    border-radius: 8px;
}
.chat-svg {
    width: 70px;
    height: 70px;
}

.snypprentry{
    width: 100%;
    border-radius: 5px;
    height: 10vh;
    color: black;
    font-family: "Brandon Grotesque";
    text-align: center;
    padding-top: 2vh;
    border-bottom: 2px solid lightgray;
    background-color: rgba(255, 255, 255, 0.5);
    animation: fadein 2s;
    transition: 1s;
    position: relative;
}

.snypprentry:hover{
    box-shadow: 2px 2px 2px gray;
    background-color: aliceblue;
}

.entryimg{
    display: inline;
    padding-right: 20px;
    position: absolute;
    left: 40px;
    top: 15px;
}

.entryheader{
    font-size: 18px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.clientheader{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: #09091a
}

.clientheadline{
    font-size: 30px;
    text-align: center;
    color: mediumspringgreen;
    font-family: "Brandon Grotesque";
    padding-top: 20px;
}

.header-logout{
    position: absolute;
    right: 2%;
    color: lightgray;
    cursor: pointer;
}

.clientfooter{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: #09091a;
    text-align: center;
    color: white;
    font-family: "Fira Code";
}



.footerdet{
    padding: 5%;
}

.dashboard-box, .profile-box{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 80vh;
    top: 10vh;
}

.profile-box{
    margin: 1em auto;
}

.navigation{
    position: absolute;
    width: 20%;
    left: 0;
    height: 80vh;
    border: 1px solid lightgray;
}

.class div{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.picturebox{
    position: absolute;
    top: 0;
    height: 30vh;
    width: 100%;
}

.navmenu{
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100%;
}

.navmenu-items{
    text-align: center;
    line-height: 10vh;
    height: 10vh;
    border-bottom: 1px solid lightgray;
    font-family: "Brandon Grotesque";
    font-size: 16px;
    cursor: pointer;
}

.navmenu-items:hover{
    background-color: mediumspringgreen;
    color: white;
}

.userpic{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

.dashboard, .profile{
    margin: 0;
    position: relative;
}

.hidden{
    display: none;
}

.right-box{
    position: absolute;
    right: 0;
    width: 80%;
    height: 80vh;
}

.gmap{
    position: absolute;
    top:0;
    height: 45vh;
    width: 100%;
    animation: fadein 2s;
    transition: 2s;
}

.entryholder{
    position: absolute;
    bottom: 0;
    overflow: auto;
    height: 35vh;
    border: 1px solid lightgray;
    width: 100%;
}
